
body{
  background-color: bisque;
  font-family: Bruno Ace;
} 
img{
  width: 100%;
}
h1{
text-align: center;
}
table{
  background-color: rgba(178, 214, 248, 0.858);
}
td{
  padding: 7px;
}
table,td{    
  font-weight: bold;
  border:1px solid;
  border-collapse:collapse;
  margin:auto;

}
